/**** media query style ******/

@media(max-width:991.98px) {
    body {
        overflow-x: hidden;
    }
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }
    .YT-hero {
        background: #fff url("../images/bg1.png") no-repeat right 35% top -90px;
        background-size: cover;
        padding: 22px 0 38px 0;
    }
    .section-hero .absolute-block {
        padding: 0 30px;
        width: calc(100% - 30px)
    }
    .products-title h3 {
        font-size: 43px;
        small {
            font-size: 21px;
            line-height: 59px;
        }
    }
}

@media(max-width:767.98px) {
    .YT {
        &-hero {
            background: #fff url("../images/sm-hero-bg.png") no-repeat right 0 top 0;
            background-size: 100% 80%;
            padding: 12px 0 50px 0;
            .logo {
                margin-bottom: 0;
                img {
                    width: 139px
                }
            }
            .text-box {
                max-width: 100%;
            }
            h1 {
                font-size: 67px;
                letter-spacing: -2px;
                line-height: 113px;
                color: #ffffff;
                filter: drop-shadow(0 0 15px rgba(7, 76, 90, 0.2));
                text-shadow: none;
                text-align: center;
                margin-top: -60px;
                margin-bottom: 120px;
                span {
                    text-align: center;
                }
            }
            .bg-light-green {
                background: rgba(33, 139, 91, 0.49);
                color: #fff;
                padding: 7px;
                margin-bottom: 100px;
                max-width: 489px;
                margin-left: -20px;
                margin-bottom: 112px;
                h2 {
                    border: 0;
                    padding: 35px 20px 35px 20px;
                    font-size: 40px;
                    line-height: 55px;
                    text-align: center;
                    filter: drop-shadow(0 0 5px rgba(1, 92, 48, 0.5));
                    span {
                        text-align: center;
                    }
                }
            }
            .btn {
                max-width: 636px;
                height: 103px;
                border-radius: 20px;
                filter: drop-shadow(2.5px 4.33px 2.5px rgba(0, 0, 0, 0.2));
                background: url("../images/button-bg2.png") no-repeat center center;
                background-size: 100% 100%;
                margin: 0 auto;
            }
        }
        &-products {
            .product {
                .row {
                    // align-items: center;
                }
                .col {
                    padding: 25px 0 25px 25px
                }
                .col-md-6.col-auto {
                    padding: 15px 15px 15px 0;
                    margin: 0;
                }
                img {
                    width: 276px;
                    height: 276px;
                    border-radius: 50%;
                    margin: 0;
                    margin-left: -15px;
                    position: relative;
                }
                p {
                    padding-right: 30px;
                }
                &:nth-child(even) {
                    .col {
                        padding: 25px 25px 25px 0
                    }
                    .col-md-6.col-auto {
                        padding: 15px 0 15px 15px;
                        margin: 0;
                    }
                    img {
                        width: 276px;
                        height: 276px;
                        border-radius: 50%;
                        margin: 0;
                        margin-right: -15px;
                    }
                    p {
                        padding-left: 30px;
                        padding-right: 0px;
                    }
                }
            }
        }
        &-intro {
            p {
                padding-left: 30px;
                padding-right: 30px;
                br {
                    display: none;
                }
            }
        }
        &-point2.section-hero {
            .title-circle {
                font-size: 40px;
                line-height: 50px;
                color: #020302;
            }
        }
        &-materials {
            padding-top: 25px;
            .material-block {
                .material-name {
                    background: rgba(33, 139, 91, 0.49);
                    width: auto;
                    right: 20px;
                    text-align: right;
                    filter: none;
                    padding: 0 30px;
                }
                p {
                    padding: 0 20px;
                    br {
                        display: none;
                    }
                }
            }
        }
        &-testmonials {
            .opinion-box {
                padding: 28px 26px 30px 50px;
                p {
                    max-height: 150px;
                    overflow: hidden;
                }
            }
            .row:nth-child(even) {
                .opinion-box {
                    padding: 28px 50px 30px 26px;
                }
            }
        }
        &-concept {
            text-align: center;
            .concept-block {
                background: url("../images/sm-concept-bg.png") no-repeat center bottom;
                background-size: 100% 100%;
                padding-top: 55px;
                padding-bottom: 0;
                p {
                    margin-bottom: 0;
                }
            }
            .btn {
                margin: 30px auto 50px auto;
            }
        }
        &-faq {
            .title {
                font-size: 35pt;
            }
            .Q-circle {
                width: 50px;
                height: 50px;
                font-size: 24pt;
            }
            .Q-info {
                width: calc(100% - 50px);
                padding-left: 16px;
            }
        }
    }
    .products-title {
        img {
            max-width: 194px
        }
        h3 {
            font-size: 35px;
        }
    }
    .section-hero .title-circle {
        width: 265px;
        height: 265px;
        font-size: 51px;
        letter-spacing: -1px;
        line-height: 61px;
        .point-title {
            font-size: 75px;
            span {
                font-size: 91px;
            }
        }
    }
    .YT-products .product .product-head .product-name {
        font-size: 35px;
        span {
            font-size: 14px;
        }
    }
    .YT-products .product .absoluate-name {
        font-size: 100px;
    }
    .YT-faq {
        font-size: 18px;
        .text-green {
            font-weight: 500;
        }
    }
}

@media(max-width:700px) {
    .YT-hero h1 {
        font-size: 50px;
        line-height: 57px;
        margin-top: -35px;
    }
    .products-title {
        img {
            max-width: 140px;
        }
        h3 {
            font-size: 30px;
            small {
                font-size: 16px;
            }
        }
    }
    .YT-hero .bg-light-green {
        padding: 7px 25px;
        max-width: auto;
        display: inline-block;
        h2 {
            font-size: 20px;
        }
    }
    .title {
        font-size: 30px;
        .num {
            font-size: 40px;
        }
    }
    .YT-intro p {
        font-size: 20px;
    }
    .YT-materials .material-block p {
        margin-bottom: 30px;
        font-size: 20px;
    }
    .YT-testmonials {
        margin-top: 0;
        .title {
            font-size: 65px;
            span {
                font-size: 16px;
                padding-top: 9px;
            }
        }
    }
    .YT-concept .concept-block p {
        font-size: 18px;
    }
}

@media(max-width:650px) {
    .YT-testmonials {
        .col-auto {
            img {
                width: 69px;
            }
        }
        .opinion-box {
            font-size: 17px;
        }
    }
    .YT-materials .material-block p {
        font-size: 17px;
        line-height: 1.9;
    }
    .YT-materials .material-block .material-name {
        font-size: 22px;
    }
    .section-hero {
        .title-circle {
            width: 235px;
            height: 235px;
            font-size: 30px;
            letter-spacing: -1px;
            line-height: 45px;
            .point-title {
                font-size: 60px;
                margin-bottom: 10px;
            }
        }
    }
    .YT-point2.section-hero .title-circle {
        font-size: 30px;
        line-height: 41px;
    }
    .YT-point2.section-hero .absolute-block,
    .section-hero .absolute-block {
        padding: 0;
    }
    .YT-products .product {
        margin-top: 110px;
        .row {
            margin: 0;
            flex-direction: column-reverse;
            .col-auto {
                width: 100%;
                text-align: center;
            }
            .col {
                padding: 10px 15px 25px 15px;
            }
        }
        img {
            width: 180px;
            height: 180px;
            margin-right: 0;
            margin-left: 0;
            margin-top: -110px;
        }
        p {
            padding-right: 0;
        }
        .absoluate-name {
            opacity: 0.5;
        }
        &:nth-child(even) {
            .row {
                margin: 0;
                flex-direction: column-reverse;
            }
            img {
                width: 180px;
                height: 180px;
                margin-right: 0;
                margin-left: 0 !important;
                margin-top: -110px;
            }
            .absoluate-name {
                left: auto;
                right: 0;
            }
            p {
                padding-left: 0;
            }
        }
    }
}

@media(max-width:600px) {
    .title {
        font-size: 20px;
        line-height: 1.5;
        .num {
            font-size: 30px;
        }
    }
    .products-title img {
        display: none;
    }
}

@media(max-width:575.98px) {
    .YT-hero .btn {
        font-size: 24px;
        height: 80px;
        max-width: 320px;
    }
    .YT-products .product p {
        font-size: 20px;
    }
    .YT-testmonials {
        .opinion-box {
            font-size: 15px;
            padding: 16px 20px 20px 40px;
        }
        .row:nth-child(even) {
            .opinion-box {
                padding: 16px 40px 20px 20px;
            }
        }
    }
    .YT-concept .concept-block h2 {
        font-size: 70px;
        line-height: 0.8;
        small {
            font-size: 20px;
            vertical-align: 4px;
        }
    }
    .YT-concept .concept-block p {
        font-size: 16px;
    }
    .YT-concept .btn {
        max-width: 310px;
        min-height: 85px;
        font-size: 18px;
    }
    .YT-materials .material-block .material-name {
        padding: 0 15px;
        line-height: 60px;
    }
    .section-hero .title-circle {
        zoom: 0.8
    }
    .YT-hero h1 {
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 38px;
        line-height: 47px;
    }
    .YT-hero .bg-light-green {
        margin-bottom: 50px;
        h2 {
            padding: 10px 10px 10px 10px;
            line-height: 50px;
        }
    }
    .YT-products .product .product-head .product-name {
        font-size: 30px;
    }
}

@media(max-width:400px) {
    .section-hero .title-circle {
        zoom: 0.7
    }
    .YT-intro p {
        padding-left: 10px;
        padding-right: 10px;
        font-size: 16px;
    }
    .YT-products .product {
        margin-top: 85px;
    }
    .YT-products .product img,
    .YT-products .product:nth-child(even) img {
        width: 120px;
        height: 120px;
        margin-top: -80px;
    }
    .YT-products .product .product-head {
        .product-num {
            width: 45px;
            height: 45px;
            span {
                font-size: 65px;
                line-height: 1;
            }
        }
        .product-name {
            padding-left: 10px;
            font-size: 26px;
            width: calc(100% - 45px);
        }
    }
    .products-title h3 {
        font-size: 26px;
        small {
            font-size: 14px;
        }
    }
}